*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee
}

.section .container {
    height: 500px;
    width: 800px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.section .container .form {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex
}

.section .container .left-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .container .left-side .content {
    color: #fff;
    letter-spacing: 1px;
    margin-top: 80px;
    padding: 10px 30px;
    text-align: center
}


.section .container .right-side .forms {
    padding-right: 20px;
    width: 100%
}
.container .right-side {
    width: 50%;
    background-color: #fff;
    height: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center
}
.welcome
{
    width: 100px;
    height: 150px;
    top: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper
{
    position: relative;
    width: 400px;
    height: 480px;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wrapper.active .form-box.login{
    transition:none ;
    transform: translateX(-400px);
    display: none;
}
.wrapper.active .form-box.register{
    transition:none ;
    transform: translateX(0px);
}
.wrapper .form-box.register{
    position: absolute;
    transition:none;
    transform: translateX(400px);
}
.u{
    width: 210px;
    height: 122px;
    backdrop-filter: blur(10px);
    position: relative;
    left: -31px;
    top: 65px;
    border: none;
    outline: none;
}
.unkn{
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, rgb(2, 50, 70), rgb(7, 143, 177));
    border-radius: 100%;
}
.wrapper .icon-close
{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px ;
}
.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
    color: #fff;
}
.input-box label{
    position: absolute;
    top: 30px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    color: #eff8ff;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top: -4px;
    font-size: 0.75em;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 32px;
    top: 12px;
}
.remember-forget{
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    justify-content: space-between;
    margin: -15px 0 15px;
    display: flex;
}
#msg{
    position: absolute;
    bottom: -25px;
    color: #fff;
    font-size: 13px;
    display: none;
}
::placeholder{
    font-size: 15px;
}


.remember-forget2{
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    justify-content: space-between;
    margin: 0px 0 15px;
    display: flex;
}
.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forget a {
    color: #fff;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    color: #212121;
    font-weight: 500;
}
.login-register{
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0px 10px;
}
.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
@media (max-width:750px) {
    .section .container {
        max-width: 350px
    }

    .section .container .left-side {
        display: none
    }

    .section .container .right-side {
        width: 100%
    }
}


